{{>_buttonGroup}}

<body>
    <div class="bg-light m-5" width="80%">
        <h1 class="text-primary">Centro de mensajes</h1>
        <ul id="messages"></ul>
        <div>
        {{>_messageTest}}
        </div>
    </div>
</body>